extends ../../../layouts/default

block head
  title 重置你的密码

block feet
  script(src='/views/login/reset/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 重置你的密码
      div#reset

  script(type='text/template', id='tmpl-reset')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 你的密码已重置，请登录确认。
        |<% } %>
        |<% if (id == undefined) { %>
        div.alert.alert-warning.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 你的重置请求不合法。
        |<% } %>
      |<% if (!success && id != undefined) { %>
      div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label.control-label 新密码:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      div.form-group(class!='<%- errfor.confirm ? "has-error" : "" %>')
        label.control-label 密码确认:
        input.form-control(type='password', name='confirm', value!='<%= confirm %>')
        span.help-block <%- errfor.confirm %>
      |<% } %>
      div.form-group
        |<% if (!success && id != undefined) { %>
        button.btn.btn-primary.btn-reset(type='button') 设定密码
        |<% } %>
        |&nbsp;
        a.btn.btn-link(href='/login/') 返回登录
