extends ../../../layouts/account
block head
  title 我的正品

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/products/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 我的正品
      div.row
        div#serial

    div.col-sm-6.special
      div.page-header
        h1 产品徽章

      div.row
        div#badges

  script(type='text/template', id='tmpl-serial')
    fieldset
      legend 验证产品防伪码 并 记录产品
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 防伪码已成功验证。
        |<% } %>
      div.control-group(class!='<%- errfor.serial ? "has-error" : "" %>')
        label.control-label 产品防伪码:
        input.form-control(type='text', name='serial')
        span.help-block <%- errfor.serial %>
      div.control-group
        button.btn.btn-primary.btn-send(type='button') 提交

  script(type='text/template', id='tmpl-badges')
    | <% _.each(badges, function(p) { %>
    div.col-sm-4
      div.stat-label: |<img class='img-circle' src=<%= p.p_info.thumb %> title=<%= p.p_info.name %> alt=<%= p.p_info.name %> />
      div.stat-value: | x <%= p.total %>
    | <% }); %>

  script(type='text/template', id='data-products') !{data.products}