extends ../layouts/default

block head
  title 梦之城会员平台
  meta(property="qc:admins" content="6660273441425153134456375")

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    img.pull-left(src='/media/logo.png')
    h1 梦之城会员平台
    p.lead
      | 阿狸、罗小黑、皮揣子、象扑君……如果你喜欢这些梦之城旗下动漫形象，成为我们的会员吧！
      div
        a.btn.btn-primary.btn-lg(href='/signup/') 创建会员帐号
        br
        |  或&nbsp;
        br
        a.btn.btn-warning.btn-lg(href='/login/forgot/') 重置会员密码
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 关于梦之城
          p 他叫阿狸，住在梦之城，充满着神奇的治愈力量。他用自己温暖的叙述方式，一路上讲述关于爱，关于家人，关于朋友的小小故事。2009年4月，北京梦之城文化有限公司（以下简称“梦之城”）成立，阿狸正式落户北京。
          a.btn.btn-default.btn-block(href='/about/') 更多……
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 注册会员
          p 梦之城会员特权：
          p 留下自己购买的所有正版梦之城产品徽章，获取会员积分，换购会员专属礼品，
          p 等等……
          a.btn.btn-default.btn-block(href='/signup/') 更多……
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 联系我们
          p 北京梦之城文化有限公司
          p Beijing Dream Castle Culture Co., Ltd
          p 电话：86(10)-68947260
          p 传真：86(10)-68947260
          a.btn.btn-default.btn-block(href='/contact/') 更多……
