extends ../../layouts/default

block head
  title 注册

block feet
  script(src='/views/signup/social.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 完成注册
      div#signup

  script(type='text/template', id='tmpl-signup')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label.control-label 输入你的用户名:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label.control-label 输入你的Email:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group
        button.btn.btn-primary.btn-signup(type='button') 创建帐号

  script(type='text/template', id='data-email') !{email}
  script(type='text/template', id='data-username') !{username}
